* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray-blue: #000911;
    --gray-black: #000000;
    --gray-white: #E5E5E5;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%; // 15px
    }
}
@media (max-width: 720px) {
    html {
        font-size: 87.5%; // 14px
    }
}

body {
    background-color: var(--gray-white);
}

body, input, textarea, button {
    font: 500 1rem Roboto, sans-serif;
    color: var(--gray-white)
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: Roboto, sans-serif;
    color: var(--gray-white);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

button {
    cursor: pointer;}